/* Coolors Exported Palette - https://coolors.co/461220-8c2f39-b23a48-fcb9b2-fed0bb */

/* CSS HEX */
--chocolate-cosmos: #461220ff;
--cordovan: #8c2f39ff;
--redwood: #b23a48ff;
--melon: #fcb9b2ff;
--apricot: #fed0bbff;

/* CSS HSL */
--chocolate-cosmos: hsla(344, 59%, 17%, 1);
--cordovan: hsla(354, 50%, 37%, 1);
--redwood: hsla(353, 51%, 46%, 1);
--melon: hsla(6, 93%, 84%, 1);
--apricot: hsla(19, 97%, 86%, 1);

/* SCSS HEX */
$chocolate-cosmos: #461220ff;
$cordovan: #8c2f39ff;
$redwood: #b23a48ff;
$melon: #fcb9b2ff;
$apricot: #fed0bbff;

/* SCSS HSL */
$chocolate-cosmos: hsla(344, 59%, 17%, 1);
$cordovan: hsla(354, 50%, 37%, 1);
$redwood: hsla(353, 51%, 46%, 1);
$melon: hsla(6, 93%, 84%, 1);
$apricot: hsla(19, 97%, 86%, 1);

/* SCSS RGB */
$chocolate-cosmos: rgba(70, 18, 32, 1);
$cordovan: rgba(140, 47, 57, 1);
$redwood: rgba(178, 58, 72, 1);
$melon: rgba(252, 185, 178, 1);
$apricot: rgba(254, 208, 187, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #461220ff, #8c2f39ff, #b23a48ff, #fcb9b2ff, #fed0bbff);
$gradient-right: linear-gradient(90deg, #461220ff, #8c2f39ff, #b23a48ff, #fcb9b2ff, #fed0bbff);
$gradient-bottom: linear-gradient(180deg, #461220ff, #8c2f39ff, #b23a48ff, #fcb9b2ff, #fed0bbff);
$gradient-left: linear-gradient(270deg, #461220ff, #8c2f39ff, #b23a48ff, #fcb9b2ff, #fed0bbff);
$gradient-top-right: linear-gradient(45deg, #461220ff, #8c2f39ff, #b23a48ff, #fcb9b2ff, #fed0bbff);
$gradient-bottom-right: linear-gradient(135deg, #461220ff, #8c2f39ff, #b23a48ff, #fcb9b2ff, #fed0bbff);
$gradient-top-left: linear-gradient(225deg, #461220ff, #8c2f39ff, #b23a48ff, #fcb9b2ff, #fed0bbff);
$gradient-bottom-left: linear-gradient(315deg, #461220ff, #8c2f39ff, #b23a48ff, #fcb9b2ff, #fed0bbff);
$gradient-radial: radial-gradient(#461220ff, #8c2f39ff, #b23a48ff, #fcb9b2ff, #fed0bbff);